body {
    background-color: #1E1E1E;
    color: #FFFFFF; /* Default text color set to white */
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#terminal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

#terminal-output {
    flex-grow: 1;
    overflow-y: auto;
    white-space: pre-wrap;
}

#terminal-output div {
    line-height: 1.4em;
}

#input-line::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: #FFFFFF;
    margin-left: 2px;
    animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #1E1E1E;
}

/* Color Classes */
.color-green {
    color: #00FF00;
}

.color-yellow {
    color: #FFFF00;
}

.color-blue {
    color: #5DADE2;
}

.color-red {
    color: #FF5733;
}

.color-cyan {
    color: #1ABC9C;
}

.color-magenta {
    color: #AF7AC5;
}

.color-white {
    color: #FFFFFF;
}

/* Highlight selected item */
.selected-item {
    background-color: #555;
    color: #FFFFFF;
}
